@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --orange: #ffa500;
  --black: #000;
  --light-black: #1f1f1f;
  --white: #fff;
  --light-white: #f6f6f6;
  --grey-text: #666;
  --bg: #eee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none !important;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0;
  }
}

section {
  padding: 5rem 1rem;
}

.link-btn {
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: 0.1rem solid var(--black);
  color: var(--black);
  background: none;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.link-btn:hover {
  background: var(--orange);
  color: var(--white);
  border: none;
}

.heading {
  text-align: center;
  font-size: 3rem;
  color: var(--light-black);
  margin-bottom: 2rem;

  text-transform: capitalize;
}

.header {
  z-index: 1000;
  padding: 2rem 0;
  background: var(--light-black);
}

.header.active {
  padding: 2rem 0;
  background: var(--light-black);
}

.header .logo {
  font-size: 2.5rem;
  color: var(--light-white);
  font-weight: bolder;
  text-transform: capitalize;
  font-family: "Space Mono", monospace;
  letter-spacing: 0.1rem;
}

.header .logo span {
  color: #ffa500;
}

.header .nav a {
  font-size: 2rem;
  margin-right: 3rem;
  color: var(--light-white);
  text-transform: capitalize;
  font-family: "Space Mono", monospace;
  font-weight: 500;
}

.header .nav a:hover {
  text-decoration: underline !important;
  text-underline-offset: 0.5rem;
  color: var(--orange);
}

.header .icons div {
  font-size: 2.5rem;
  color: var(--light-white);
  margin-left: 2rem;
  cursor: pointer;
}

.header #menu-btn {
  display: none;
}

.login-form {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
}

.login-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form form {
  width: 50rem;
  padding: 4rem;
  background: var(--light-white);
  text-align: center;
  position: relative;
  -webkit-animation: fadeIn 0.2s linear;
  animation: fadeIn 0.2s linear;
}

.login-form form #close-login-form {
  position: absolute;
  top: -4rem;
  right: 0;
  font-size: 3rem;
  cursor: pointer;
  color: var(--light-white);
}

.login-form form #close-login-form:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.login-form form .logo {
  font-size: 2.5rem;
  color: var(--orange);
  font-weight: bolder;
  text-transform: capitalize;
}

.login-form form h3 {
  padding: 1rem 0;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--light-black);
  margin-top: 1rem;
}

.login-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid var(--orange);
  font-size: 1.6rem;
  margin: 1rem 0;
}

.login-form form .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.login-form form .flex label {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--grey-text);
  margin-bottom: 0;
  cursor: pointer;
}

.login-form form .flex a {
  font-size: 1.5rem;
  color: var(--orange);
  margin-left: auto;
}

.login-form form .flex a:hover {
  text-decoration: underline !important;
}

.login-form form .link-btn {
  width: 100%;
  margin-bottom: 2rem;
}

.login-form form .account {
  padding: 1.5rem 0.5rem;
  background: var(--bg);
  font-size: 1.5rem;
  line-height: 2;
  color: var(--grey-text);
  margin-bottom: 0;
}

.login-form form .account a {
  color: var(--orange);
}

.login-form form .account a:hover {
  text-decoration: underline !important;
}

.home {
  background: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.2)),
      to(rgba(0, 0, 0, 0.2))),
    url("../images/landing-page.jpg") no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/landing-page.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.col-md-6 {
  margin-bottom: 7.5rem;
}

.home-span {
  color: var(--light-white);

  font-size: 2.5rem;
  font-family: "Space Mono", monospace;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.home h1 {
  color: var(--light-white);
  font-size: 5rem;
  font-family: "Space Mono", monospace;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  line-height: 1.3;
}

.home .link-btn {
  color: var(--light-white);
  border: 2px solid var(--orange);
  text-transform: capitalize;
  border-radius: 5px;
  margin-top: 2rem;
  font-family: "Space Mono", monospace;
  transition: 0.5s ease-in-out;
  font-weight: bolder;
}

.about span {
  font-size: 2.5rem;
  color: var(--orange);
}

.about .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--light-black);
}

.about p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--grey-text);
  margin-bottom: 0;
}

.about a {
  border-radius: 5px;
}

.about .icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 1.5rem;
}

.about .icons-container .icons {
  padding: 2rem;
  background: var(--bg);
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 14rem;
  flex: 1 1 14rem;
}

.about .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: var(--orange);
}

.about .icons-container .icons h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--light-black);
}

.about {
  margin-top: 60px;
}

.media span {
  font-size: 2.5rem;
  color: var(--orange);
}

.media .title {
  padding-top: 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--light-black);
}

.media p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: var(--grey-text);
  margin-bottom: 0;
}

.media-text {
  margin-bottom: 8rem;
}

.media {
  margin-top: 60px;
}

.gallery {
  margin-top: 60px;
}

.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  min-height: 100%;
}

.gallery .box-container .box {
  overflow: hidden;
  position: relative;
  height: 25rem;
}

.gallery .box-container .box:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid var(--light-black);
}

.gallery .box-container .box:hover img {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition-delay: 1.5s;
}

.gallery .box-container .box:hover .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition-delay: 1.5s;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--light-white);
  text-align: center;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  padding-top: 4rem;
  transition: 0.5s;
}

.gallery .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--light-black);
  font-weight: bold;
}

.gallery .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: var(--grey-text);
  margin-bottom: 0;
}

.gallery .link-btn {
  color: var(--light-black);
  border-color: var(--orange);
  text-transform: capitalize;
  border-radius: 5px;
  margin-top: 2rem;
  font-family: "Space Mono", monospace;
  transition: 0.5s ease-in-out;
}

.contact .contact-info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin-bottom: 3rem;
  margin-top: 10rem;
}

.contact .contact-info-container .box {
  border: 0.1rem solid var(--orange);
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 1px -1px 5px 3px rgba(0, 0, 0, 0.1);
}

.contact .contact-info-container .box:hover i {
  background: var(--orange);
  color: var(--white);
}

.contact .contact-info-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border: 0.1rem solid var(--orange);
  color: var(--orange);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact .contact-info-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--light-black);
  padding: 1rem 0;
}

.contact .contact-info-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: var(--grey-text);
  margin-bottom: 0;
}

.contact form h3 {
  font-size: 3rem;
  text-transform: capitalize;
  color: var(--light-black);
  padding-bottom: 1rem;
  text-align: center;
}

.contact form .box {
  margin: 0.7rem 0;
  border: 0.1rem solid var(--light-black);
  font-size: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.4rem;
}

.contact form .box:focus {
  background: var(--bg);
  color: var(--light-black);
}

.contact form .box:focus::-webkit-input-placeholder {
  color: var(--bg);
}

.contact form .box:focus:-ms-input-placeholder {
  color: var(--light-black);
}

.contact form .box:focus::-ms-input-placeholder {
  color: var(--light-black);
}

.contact form .box:focus::placeholder {
  color: var(--light-black);
}

.contact form textarea {
  height: 15rem;
  resize: none;
}

.thank-you {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--light-white);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  font-family: "Space Mono", monospace;
  background: url("../images/thank-you.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.thank-you-btn {
  color: var(--orange);

}

.thank-you-btn:hover {
  color: var(--orange);
  font-weight: 600;
  transform: scale(1.1);
}

.footer {
  background: var(--light-black);
  padding: 2rem 0;
  color: var(--light-white);
  font-size: 1.5rem;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.footer .logo {
  font-size: 2.5rem;
  color: var(--light-white);
  font-weight: bolder;
  text-transform: capitalize;
}

.footer span {
  color: var(--orange);
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  border: 0.1rem solid var(--light-white);
  color: var(--orange);
  margin: 0 0.3rem;
}

.footer .share a:hover {
  background: var(--orange);
  color: var(--white);
}

@media (max-width: 994px) {
  html {
    font-size: 55%;
    scroll-padding-top: 8rem;
  }

  .home h3 {
    font-size: 4rem;
  }

  section {
    padding: 3rem 0;
  }

  .thank-you-container {
    margin: 0 auto;
    width: 80%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .login-form form {
    padding: 3rem 2rem;
  }

  .login-form form h3 {
    font-size: 1.7rem;
  }

  .header {
    padding: 2rem 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  .header #menu-btn {
    display: inline-block;
  }

  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .header .nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--light-white);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 1rem 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .nav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .nav a {
    margin: 1rem 2rem;
    color: var(--light-black);
  }

  .contact .map {
    height: 25rem;
  }


}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }

  .marginRow {
    margin: 0px !important;
  }

  .thank-you-container {
    margin: 0 auto;
    width: 80%;
  }



  .gallery .content {
    display: none;
  }

  .media-video {
    margin-bottom: 8rem;
  }

  .media-text {
    margin-bottom: 8rem;
  }
}